CREATE DATABASE DICHVUTHUEXE
GO

USE DICHVUTHUEXE
GO

create table LOAIDV
(
	MaL int primary key CLUSTERED NOT NULL
	, Tenloai nvarchar(25) NOT NULL
	, Gia money NOT NULL
)

create table XE
(
	Maxe int primary key CLUSTERED NOT NULL
	, Tenxe nvarchar(50) NOT NULL
	, Bienso varchar(25) NOT NULL
	, Trangthai bit NOT NULL	  ---- BIT 1 :đại diện cho xe đang bận ; 0 : đại diện cho xe đang rảnh
	, MaL int NOT NULL
	, constraint C_MaLoai  Foreign Key (MaL) REFERENCES LOAIDV(MaL)
)

create table KHACHHANG
(
	MaKH int primary key CLUSTERED NOT NULL
	, Ten nvarchar(50) NOT NULL
	, CMND varchar(12) NOT NULL
	, Gioitinh nvarchar(5) NOT NULL
	, Ngaysinh date check (Ngaysinh < getdate()) NOT NULL
	, Diachi nvarchar(50) NOT NULL
	, SDT varchar(10) 
	, Constraint CHECK_GIOITINHKH check (Gioitinh = N'Nữ' or Gioitinh = N'Nam')
	, Constraint CHECK_NGAYSINHKH check (Ngaysinh < getdate()) 
)

create table NHANVIEN
(
	MaNV int primary key CLUSTERED NOT NULL
	, TenNV nvarchar(50) NOT NULL
	, CMND nvarchar(12) NOT NULL
	, Gioitinh nvarchar(10) NOT NULL
	, Ngaysinh date 
	, Diachi nvarchar(50) NOT NULL
	, SDT varchar(10) 
	, Constraint CHECK_GIOITINHNV check (Gioitinh = N'Nữ' or Gioitinh = N'Nam')
	, Constraint CHECK_NGAYSINHNV check (Ngaysinh < getdate()) 
)

create table QUYENHAN
(
	MaQ int primary key NOT NULL
	, TenQ nvarchar(25) NOT NULL
	, Mota nvarchar(50) NOT NULL 
)

create table NHANVIEN_TAIKHOAN
(
	MaNV int foreign key references NHANVIEN 
	, Taikhoan nvarchar(25) NOT NULL
	, Matkhau nvarchar(25) NOT NULL
	, Vitri int NOT NULL ----------- nv: nhân viên ; qt: quản trị
	, CONSTRAINT C_ViTri FOREIGN KEY (Vitri) REFERENCES QuyenHan(MaQ)
)

create table HOADON
(
	MaHD int primary key CLUSTERED NOT NULL
	, MaKH int NOT NULL
	, MaL int NOT NULL
	, ThoigianBD date NOT NULL
	, ThoigianKT date NOT NULL
	, SogioSD decimal 
	, Thanhtien money
	, Trangthai bit    ---- BIT 1 : đại diện cho hoá đơn đã đc thanh toán; 0 :đại diện cho hoá đơn chưa được thanh toán
	, CONSTRAINT C_MaKH_HD FOREIGN KEY (MaKH) REFERENCES KHACHHANG(MaKH)
	, CONSTRAINT C_MaL_HD FOREIGN KEY (MaL) REFERENCES LOAIDV(MaL)
)


create table HOPDONG
(
	MaHDG int primary key CLUSTERED NOT NULL
	, Maxe int NOT NULL
	, MaKH int NOT NULL
	, MaL int NOT NULL
	, MaNV int  NOT NULL
	, NgayBD date NOT NULL
	, Trangthai bit NOT NULL  ---- BIT 1 :đại diện cho hợp đồng đang có hiệu lực, 0 :đại diện cho hợp đồng chưa được thực thi
	, CONSTRAINT C_Maxe_HDG FOREIGN KEY (Maxe) REFERENCES XE(Maxe)
	, CONSTRAINT C_MaNV_HDG FOREIGN KEY (MaNV) REFERENCES NHANVIEN(MaNV)
	, CONSTRAINT C_MaKH_HDG FOREIGN KEY (MaKH) REFERENCES KHACHHANG(MaKH)
	, CONSTRAINT C_MaL_HDG FOREIGN KEY (MaL) REFERENCES LOAIDV(MaL)
)

select o.MaHDG , o.MaKH, k.Ten ,h.Maxe ,h.Tenxe, hd.SogioSD, hd.Thanhtien  from HOADON hd,HOPDONG o, XE h, KHACHHANG k where o.Maxe = h.Maxe and o.MaKH = k.MaKH and hd.MaKH = k.MaKH




-- DATA OF KHACHHANG
INSERT INTO KHACHHANG (MaKH, Ten, CMND, Gioitinh, Ngaysinh, Diachi, SDT) VALUES (1, N'Trần Công Thức', '072201002451', N'Nam', '2001-07-22',N'Hoà Thành, Tây Ninh', '0792767795');
INSERT INTO KHACHHANG (MaKH, Ten, CMND, Gioitinh, Ngaysinh, Diachi, SDT) VALUES (2, N'Võ Văn Hưng', '072201002971', N'Nam', '2001-06-02',N'Hoà Thành, An Giang', '0796545965');
INSERT INTO KHACHHANG (MaKH, Ten, CMND, Gioitinh, Ngaysinh, Diachi, SDT) VALUES (3, N'Nguyễn Văn Minh', '072201002691', N'Nam', '2001-06-28','Hoà Thành, Quảng Bình', '0756945896');

-- DATA OF LOAIDV , PRICE FOR 2 DAYS
INSERT INTO LOAIDV (MaL, Tenloai, Gia) VALUES (1,N'XE MOTO','1000000');
INSERT INTO LOAIDV (MaL, Tenloai, Gia) VALUES (2,N'XE CON 4 CHỖ','2000000');
INSERT INTO LOAIDV (MaL, Tenloai, Gia) VALUES (3,N'XE CON 7 CHỖ','2500000');

-- DATA OF HOADON
INSERT INTO HOADON(MaHD, MaKH, MaL, ThoigianBD, ThoigianKT, SogioSD, Thanhtien, Trangthai) VALUES (1,2,1,'2021-10-01','2021-10-03','48','1000000',1);
INSERT INTO HOADON(MaHD, MaKH, MaL, ThoigianBD, ThoigianKT, SogioSD, Thanhtien, Trangthai) VALUES (2,1,3,'2021-10-02','2021-10-04','48','2500000',1);
INSERT INTO HOADON(MaHD, MaKH, MaL, ThoigianBD, ThoigianKT, SogioSD, Thanhtien, Trangthai) VALUES (3,4,2,'2021-10-03','2021-10-07','96','4000000',1);

-- DATA OF XE
INSERT INTO XE(Maxe, Tenxe, Bienso, Trangthai, MaL) VALUES (1,N'EXCITER 2019 150','70F1-66666',1,1);
INSERT INTO XE(Maxe, Tenxe, Bienso, Trangthai, MaL) VALUES (2,N'WINNER 2020 150','59C1-25612',0,1);
INSERT INTO XE(Maxe, Tenxe, Bienso, Trangthai, MaL) VALUES (3,N'MOTO PHÂN KHỐI 175','56C3-95421',1,1);

-- DATA OF NHANVIEN
INSERT INTO NHANVIEN(MaNV, TenNV, CMND, Gioitinh, Ngaysinh, Diachi, SDT) VALUES (1,N'Nguyễn Thị Hưng','072203621256',N'Nam','1987-02-26',N'Bình Thạnh, TP.HCM','0795635589')
INSERT INTO NHANVIEN(MaNV, TenNV, CMND, Gioitinh, Ngaysinh, Diachi, SDT) VALUES (2,N'Lê Thị Kiều','075521552369',N'Nữ','1990-06-12',N'Thủ Đức, TP.HCM','0795833214')
INSERT INTO NHANVIEN(MaNV, TenNV, CMND, Gioitinh, Ngaysinh, Diachi, SDT) VALUES (3,N'Trần Chuẩn','035521012365',N'Nam','1995-03-16',N'Gò Dầu, Tây Ninh','0785244565')


-- DATA OF HOPDONG 
INSERT INTO HOPDONG(MaHDG, Maxe, MaKH, MaL, MaNV, NgayBD, Trangthai) VALUES (1,1,2,1,1,'2021-10-01',1);
INSERT INTO HOPDONG(MaHDG, Maxe, MaKH, MaL, MaNV, NgayBD, Trangthai) VALUES (2,8,1,3,1,'2021-10-02',1);
INSERT INTO HOPDONG(MaHDG, Maxe, MaKH, MaL, MaNV, NgayBD, Trangthai) VALUES (3,5,4,2,2,'2021-10-03',1);

-- DATA OF QUYENHAN
INSERT INTO QuyenHan(MaQ, TenQ, Mota) VALUES (1,N'Nhân viên',N'Thực hiện thao tác với quyền hạn bình thường');
INSERT INTO QuyenHan(MaQ, TenQ, Mota) VALUES (2,N'Quản trị',N'Thực hiện thao tác với quyền hạn cao nhất');


-- DATA OF NHANVIEN_TAIKHOAN
INSERT INTO NHANVIEN_TAIKHOAN(MaNV, Taikhoan, Matkhau, Vitri) VALUES (1,'hungnv','hung1',1);
INSERT INTO NHANVIEN_TAIKHOAN(MaNV, Taikhoan, Matkhau, Vitri) VALUES (2,'kieunv','kieu1',1);
INSERT INTO NHANVIEN_TAIKHOAN(MaNV, Taikhoan, Matkhau, Vitri) VALUES (3,'chuannv','chuan1',1);




------------- TEST DU LIEU - KO RUN LUC KHOI TAO DATABASE
Select nv.MaNV , nt.Taikhoan, q.TenQ, q.Mota From QuyenHan q, NHANVIEN_TAIKHOAN nt , NHANVIEN nv where nv.MaNV = nt.MaNV and nt.Vitri = q.MaQ
Select * From QUYENHAN
select *from XE 
select *from HOPDONG 
select *from LOAIDV
select *from KHACHHANG
select *from HOADON
select *from NHANVIEN_TAIKHOAN
select o.MaHDG , o.MaKH, k.Ten ,h.Maxe ,h.Tenxe, hd.SogioSD, hd.Thanhtien  from HOADON hd,HOPDONG o, XE h, KHACHHANG k where o.Maxe = h.Maxe and o.MaKH = k.MaKH and hd.MaKH = k.MaKH
Select nv.MaNV , nt.Taikhoan, q.TenQ, q.Mota From QuyenHan q, NHANVIEN_TAIKHOAN nt , NHANVIEN nv where nv.MaNV = nt.MaNV and nt.Vitri = q.MaQ
Select nt.MaL , n.Tenxe From XE n , LOAIDV nt where n.MaL = nt.MaL
UPDATE KHACHHANG SET Ten = N'abcxyz' Where MaKH = 2